@font-face {
  font-family: "Ownglyph_noocar-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  background-color: snow;
  height: 100vh;
  font-family: "Ownglyph_noocar-Rg";
  margin: 0;
  color: #3e3e3e;
}
.hiddenForm {
  display: none;
}
.reviewForm-container {
  width: 600px;
  height: 80vh;
  padding: 30px;
  background-color: rgba(253, 242, 242);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow-y: scroll;
}
.reviewForm-container::-webkit-scrollbar {
  width: 10px;
}
.reviewForm-container::-webkit-scrollbar-thumb {
  background-color: hotpink;
  border-radius: 10px;
}
.reviewForm-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.reviewForm-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.reviewForm-box {
  margin-bottom: 15px;
}

.reviewForm-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reviewForm-box input,
.reviewForm-box select,
.reviewForm-box textarea {
  width: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Ownglyph_noocar-Rg";
  font-size: 16px;
}
#photo {
  font-size: 14px;
}
.reviewForm-box input[type="file"] {
  padding: 6px;
  background-color: #ffffff;
}

.reviewForm-btn {
  display: flex;
  gap: 32px;
}

.reviewForm-btn button {
  width: 45%;
  padding: 10px;
  background-color: rgba(224, 109, 147, 0.822);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.reviewForm-btn button:hover {
  background-color: rgb(224, 109, 148);
}
