@font-face {
  font-family: "Ownglyph_noocar-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Ownglyph_noocar-Rg";
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.logo {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.container {
  width: 500px;
  text-align: center;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 50px;
  gap: 20px;
}

.container h2 {
  font-size: 36px;
  text-align: center;
}

.form-box {
  width: 400px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

label {
  /* display: inline-block; */
  width: 100px;
  text-align: center;
  color: #555;
}

.form-box > input {
  width: 300px;
  padding: 8px;
  margin: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.joinBtn {
  margin-top: 40px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  background-color: hotpink;
  color: white;
  font-family: "Ownglyph_noocar-Rg";
  border-radius: 4px;
}
.genderRadio {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.genderRadio > label {
  width: 92.68px;
}
.genderBox {
  margin-right: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.maleBox,
.femaleBox {
  width: fit-content;
}
