@font-face {
  font-family: "Ownglyph_noocar-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  background-color: snow;
  height: 100vh;
  font-family: "Ownglyph_noocar-Rg";
  margin: 0;
  color: #3e3e3e;
}
.reviewLogo {
  display: flex;
  justify-content: center;
}
.review-logo {
  cursor: pointer;
  margin-top: 20px;
}
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.review-title h2 {
  border-bottom: 2px solid hotpink;
  margin-bottom: 50px;
}

.review-upload-btn {
  border: none;
  background-color: transparent;
  padding: 2px;
  color: hotpink;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  cursor: pointer;
}

.review-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
}
.review-box {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border-radius: 4px;
}

.tasty-box,
.cafe-box,
.hp-box {
  padding: 15px 40px 40px 40px;
  margin: 30px;
  border-radius: 16px;
  height: fit-content;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
}
.tasty-box {
  margin-top: 0px;
  background-color: #ffa60033;
}
.cafe-box {
  background-color: rgba(128, 0, 128, 0.3);
}
.hp-box {
  background-color: rgba(135, 207, 235, 0.3);
}

.tasty-content,
.cafe-content,
.hp-content {
  border: 1px solid gainsboro;
  padding: 20px 35px;
  font-size: 24px;
  margin: 12px 0;
  border-radius: 70px;
  background-color: snow;
  height: fit-content;
}

.review-box h1 {
  margin: 10px;
}

.review-user {
  display: flex;
  gap: 10px;
  font-size: 28px;
  height: 40px;
  align-items: center;
  /* margin: 10px 0px 0 20px; */
}
.review-user p {
  margin: 0;
}

.review-text {
  display: flex;
  gap: 35px;
}
.review-text img {
  width: 200px;
  height: 130px;
  border-radius: 8px;
}

.review-visited {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 16px;
}
.review-visited h2 {
  margin: 10px;
}

.review-point {
  display: flex;
  gap: 70px;
  margin-left: 20px;
}
.review-point p {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 20px;
}
.keyword {
  display: flex;
  align-items: center;
  gap: 10px;
}
.keyword p {
  font-size: 16px;
  border: 1px solid #3e3e3e;
  margin: 20px 0;
  padding: 3px;
  border-radius: 10px;
  background-color: peachpuff;
}

.category-Tag {
  padding-bottom: 5px;
}

.R-hst {
  color: hotpink;
  padding-right: 5px;
}
.T-hst {
  color: rgb(255, 212, 160);
  padding-right: 5px;
}
.C-hst {
  color: rgb(224, 133, 224);
  padding-right: 5px;
}
.H-hst {
  color: skyblue;
  padding-right: 5px;
}

.footerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 120px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.footer {
  width: 87%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: gainsboro;
  border-radius: 10px;
}
.info {
  margin-left: 50px;
}
.service {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#showForm {
  position: fixed;
  top: 14%;
  left: 34%;
}

.long-category {
  border: 2px solid #3e3e3ee8;
  border-radius: 24px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 330px;
  left: 300px;
}
.category-top,
.category-center,
.category-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 28px;
  padding: 4px;
}
.category-top {
  border-bottom: 2px solid #3e3e3ee8;
}
.category-center {
  margin-bottom: 32px;
}
.category-bottom {
  border-top: 2px solid #3e3e3ee8;
}
.long-category div > i {
  padding: 6px;
  border-radius: 50px;
  color: #3e3e3ee8;
}
.long-category div > i:hover {
  cursor: pointer;
  padding: 6px;
  /* background-color: rgb(255, 51, 204); */
  border: 0;
  color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.bx-home-heart:hover,
.bx-info-circle:hover {
  background-color: hotpink;
}
.bx-restaurant:hover {
  background-color: #ffa600;
}
.bxs-coffee:hover {
  background-color: purple;
}
.bxs-map:hover {
  background-color: skyblue;
}
