.calendar-planner {
  width: 180px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-right: 0;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.calendar-area {
  height: fit-content;
  background-color: snow;
  border-radius: 24px;
  /* position: absolute;
  right: 0;
  bottom: 240px; */
}
.calendar-area > .hidden {
  display: none;
}
.calendar-header-planner {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(255, 51, 204);
  color: white; */
  border-bottom: 2px solid black;
  color: black;
  padding: 6px;
}
.calendar-header-planner button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.calendar-body-planner {
  padding: 5px;
}
.day-names-planner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.day-names-planner div,
.days-planner div {
  width: 14%;
  text-align: center;
}
.days-planner {
  display: flex;
  flex-wrap: wrap;
}
.days-planner div {
  width: 14%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.days-planner div:hover {
  background-color: #f0f0f0;
  color: black;
  transition: 0.3s;
}
.days-planner .selected {
  /* background-color: rgb(255, 51, 204); */
  background-color: gray;
  color: white;
  /* border-radius: 50%; */
}
.days-planner .range {
  /* background-color: rgb(255, 51, 204); */
  background-color: gray;
  color: white;
}
