.h-Tag1p:hover {
  border-bottom: 2px solid red;
}
.h-Tag2p:hover {
  border-bottom: 2px solid purple;
}
.h-Tag3p:hover {
  border-bottom: 2px solid skyblue;
}
.h-Tag4p:hover {
  text-decoration: under 2px solid rgb(255, 51, 204);
}
.h-Tag1Span {
  color: red;
}
.h-Tag2Span {
  color: purple;
}
.h-Tag3Span {
  color: skyblue;
}
.h-Tag4Span {
  color: rgb(255, 51, 204);
}
