* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: Ownglyph_noocar-Rg;
  scroll-behavior: smooth;
}
html {
  width: 100%;
  height: auto;
}
body {
  background-color: snow;
}
.hidden {
  display: none;
}

.mainPage-header {
  width: 100%;
  /* height: 200px; */
  background-color: snow;
  /* background-color: rgb(252, 229, 229); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.mainPage-logo {
  cursor: pointer;
}
.Tag-titles {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 12px;
  display: flex;
  gap: 14px;
  font-size: 30px;
}
.Tag-titles p {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 29px;
}
.Tag-titles p:hover {
  /* border-bottom: 2px solid rgb(255, 51, 204); */
  transform: scale(1.1);
  transition: 0.2s;
}
.h-Tag1p:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffa600;
}
.h-Tag2p:hover {
  cursor: pointer;
  border-bottom: 2px solid purple;
}
.h-Tag3p:hover {
  cursor: pointer;
  border-bottom: 2px solid skyblue;
}
.h-Tag4p:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(255, 51, 204);
}
.h-Tag1Span {
  color: #ffa600;
}
.h-Tag2Span {
  color: purple;
}
.h-Tag3Span {
  color: skyblue;
}
.h-Tag4Span {
  color: rgb(255, 51, 204);
}

/* title */
.header-title {
  padding: 8px;
  width: fit-content;
  margin-top: 12px;
  margin-bottom: 0;
  border-radius: 24px;
}
.header-title-span {
  /* font-size: 40px; */
  font-weight: bold;
}
.main-center {
  height: 1500px;
  padding-top: 220px;
  margin-right: 120px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/* category */
#categories {
  display: flex;
  /* position: sticky; */
  position: fixed;
  top: 250px;
  left: 3%;
}
.short-category {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 32px;
}
.long-category {
  border: 2px solid black;
  border-radius: 24px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category-top,
.category-center,
.category-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 28px;
  padding: 4px;
}
.category-top {
  border-bottom: 2px solid black;
}
.category-center {
  margin-bottom: 32px;
}
.category-bottom {
  border-top: 2px solid black;
}
.long-category div > i {
  padding: 6px;
  border-radius: 50px;
}
.long-category div > i:hover {
  cursor: pointer;
  padding: 6px;
  /* background-color: rgb(255, 51, 204); */
  border: 0;
  color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.bx-home-heart:hover,
.bx-search:hover {
  background-color: rgb(255, 51, 204);
}
.bx-restaurant:hover {
  background-color: #ffa600;
}
.bxs-coffee:hover {
  background-color: purple;
}
.bxs-map:hover {
  background-color: skyblue;
}
/* body {
  position: relative;
} */
.QR-code {
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: snow;
  border-radius: 24px;
  height: fit-content;
  width: fit-content;
  padding: 8px 16px;
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.QR-code:hover {
  box-shadow: 0 4px 8px rgba(255, 51, 204, 0.4);
  border: 1px solid rgba(255, 51, 204, 0.4);
  font-weight: bold;
  transform: scale(1.1);
}

.plannListBox {
  position: fixed;
  top: 300px;
}
/* main */
.contents-center {
  width: 70%;
  margin: 0 24px;
}
.calender-wether {
  display: flex;
}
.login-box {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.alogin-box,
.aloginBox2 {
  font-size: 18px;
  /* border: 2px solid black; */
  border-radius: 24px;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.login-btn {
  width: 170px;
  height: 35px;
  margin-top: 16px;
  font-size: 18px;
  background-color: #ff33cc;
  border: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: rgb(255, 44, 150);
  color: snow;
}
.signIn,
.nonsignIn {
  width: 180px;
  /* width: 140px; */
  height: 35px;
  font-size: 20px;
  border: 0;
  border-radius: 24px;
  background-color: rgb(255, 51, 204);
  color: white;
}
.signIn:hover,
.nonsignIn:hover {
  background-color: rgb(255, 0, 191);
  color: white;
}
.signUp {
  text-align: end;
  font-size: 16px;
  border: 0;
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0);
}
.signUp:active,
.signUp:hover {
  color: rgb(255, 51, 204);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}

.blogin-box,
.bloginBox2 {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 24px;
  padding: 18px;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.genderInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.welcome-message {
  font-size: 1.5em;
  color: #333;
  /* margin-top: 20px; */
  text-align: center;
}
.return-button {
  margin-top: 12px;
  font-size: 18px;
  background-color: #ff33cc;
  border: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.return-button:hover {
  background-color: rgb(255, 44, 150);
  color: snow;
}
.hiddenALogin {
  display: none;
}
.hiddenBLogin {
  display: none;
}

input[type="text"],
input[type="password"] {
  border: 0;
  border-bottom: 2px solid black;
  font-size: 18px;
}
#ageInfo {
  width: 170px;
  border: 0;
  border-bottom: 2px solid black;
  font-size: 18px;
}
input[type="radio"] {
  width: 170px;
  display: none;
}

input[type="radio"]:checked + label {
  padding: 3px 24px;
  border: 2px solid #ff33cc;
  background-color: #ff33cc;
  border-radius: 24px;
  /* color: #ff33cc; */
  color: white;
  cursor: pointer;
}
.addPlanner {
  width: 170px;
  font-size: 18px;
  background-color: #ff33cc;
  border: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}

.addPlanner:hover {
  background-color: rgb(255, 44, 150);
  color: snow;
}

.hidden {
  display: none;
}

.mainPage-footer {
  width: 100%;
  text-align: center;
  border: 2px solid black;
  border-radius: 24px;
  /* margin: 24px; */
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.footer-right,
.footer-left {
  flex-grow: 1;
}
/* .footer-left {
  text-align: end;
} */
.footer-right {
  position: absolute;
  margin: 0;
  cursor: pointer;
  bottom: 8px;
  right: 24px;
  display: flex;
  gap: 4px;
}
.customer-service {
  text-decoration: none;
  color: black;
  margin: 0;
  /* margin-bottom: 24px;
  margin-right: 24px; */
}
.customer-service:hover {
  text-decoration: underline;
}
.webPage-icons i {
  cursor: pointer;
  font-size: 40px;
}
.webPage-icons i:hover {
  color: rgb(255, 51, 204);
  transition: 0.2s;
}
