.planListBox {
  width: fit-content;
  padding: 24px;
  padding-top: 0;
  padding-right: 0px;
  padding-left: 16px;
  width: 200px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-right: 0;
  border-radius: 24px 0 0 24px;
  position: absolute;
  right: 0;
  bottom: 80px;
  display: flex;
  flex-direction: column;
}
.planListBoxes div {
  padding: 12px 0;
}

.h-Tag1p:hover {
  border-bottom: 2px solid red;
}
.h-Tag2p:hover {
  border-bottom: 2px solid purple;
}
.h-Tag3p:hover {
  border-bottom: 2px solid skyblue;
}
.h-Tag4p:hover {
  border-bottom: 2px solid rgb(255, 51, 204);
}
.h-Tag1Span {
  color: red;
}
.h-Tag2Span {
  color: purple;
}
.h-Tag3Span {
  color: skyblue;
}
.h-Tag4Span {
  color: rgb(255, 51, 204);
}

.cafeBoxes,
.hotPlaceBoxes {
  padding-top: 10px;
}
.resturantBox,
.cafeBox,
.hotPlaceBox {
  padding-left: 8px;
}
input[type="checkbox"] {
  accent-color: black;
}
.foodStore[type="checkbox"] {
  accent-color: red;
}
.cafeStore[type="checkbox"] {
  accent-color: purple;
}
.placeStore[type="checkbox"] {
  accent-color: skyblue;
}
