* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: Ownglyph_noocar-Rg;
  font-size: 24px;
}
.planListBox {
  width: fit-content;
  padding: 8px 16px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-right: 0;
  border-radius: 24px 0 0 24px;
  position: absolute;
  right: 0;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.planListBox > h4 {
  margin: 6px;
}
.nav-planner {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.planListBoxes div {
  padding: 12px 0;
}
/* .firstDay {
}
.lastDay {
} */
.h-Tag1p:hover {
  border-bottom: 2px solid red;
}
.h-Tag2p:hover {
  border-bottom: 2px solid purple;
}
.h-Tag3p:hover {
  border-bottom: 2px solid skyblue;
}
.h-Tag4p:hover {
  border-bottom: 2px solid rgb(255, 51, 204);
}
.h-Tag1Span {
  color: red;
}
.h-Tag2Span {
  color: purple;
}
.h-Tag3Span {
  color: skyblue;
}
.h-Tag4Span {
  color: rgb(255, 51, 204);
}

.resturantBox,
.cafeBox,
.hotPlaceBox {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="checkbox"] {
  accent-color: black;
}
.foodStore[type="checkbox"] {
  accent-color: red;
}
.cafeStore[type="checkbox"] {
  accent-color: purple;
}
.placeStore[type="checkbox"] {
  accent-color: skyblue;
}

.bx-x {
  color: rgba(125, 125, 125, 0.5);
  font-size: 16px;
  margin: 0 4px;
  border-radius: 50%;
}
.bx-x:hover {
  color: black;
  transition: 0.2s;
  background-color: rgba(125, 125, 125, 0.5);
  border-radius: 50%;
}
/* .resturantBox {
  position: relative;
}
.resturantBox > i {
  position: absolute;
  right: 8px;
}
.cafeBox {
  position: relative;
}
.cafeBox > i {
  position: absolute;
  right: 8px;
}
.hotPlaceBox {
  position: relative;
}
.hotPlaceBox > i {
  position: absolute;
  right: 8px;
} */
.shareBtn {
  font-weight: bold;
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 51, 204);
  border-radius: 24px;
  cursor: pointer;
}
.shareBtn:hover {
  background-color: rgba(255, 51, 204, 0.2);
  transition: 0.2s;
}
