* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: Ownglyph_noocar-Rg;
  scroll-behavior: smooth;
}
html {
  width: 100%;
  height: 100vh;
  color: #3e3e3e;
}
/* title */
.header-title {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  margin-left: 210px;
  margin-top: 50px;
  cursor: pointer;
}

body {
  position: relative;
}
.header-logo {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  margin-top: 20px;
}
.search-box > input {
  width: 42%;
  height: 40px;
  padding-left: 25px;
  border: none;
  background-color: rgba(255, 105, 180, 0.705);
  border-radius: 15px;
  font-size: 16px;
}
.searchBtn {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
}
.search-box a {
  border-bottom: 1px solid #3e3e3e;
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

.submain-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-menus {
  padding: 16px 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  list-style-type: none;
  /* border: 2px solid black; */
  border-radius: 24px;
}
.category-menus li {
  cursor: pointer;
  font-size: 24px;
  padding: 0 24px;
  border-right: 2px solid black;
}
.category-menus li span:hover {
  display: inline-block;
  /* border-bottom: 2px solid black; */
  transition: 0.1s;
  transform: scale(1.1);
}

.category-menus > .category-epilogue {
  border-right: 0;
}

.search-box > .bx {
  font-size: 32px;
}

.contents-container {
  width: 90%;
  margin: 8px 0 8px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents-container section > h2 {
  text-align: center;
  font-size: 32px;
}
.contents-container section {
  width: 85%;
  padding: 16px;
  /* border: 2px solid black; */
  border-radius: 24px;
}
.contents-container .hidden {
  display: none;
}
.notice ul {
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  padding: 100px;
  margin-top: 50px;
}
.notice ul li {
  border-bottom: 2px solid #3e3e3e;
  padding: 16px;
  padding-left: 8px;
  cursor: pointer;
  font-size: 18px;
}
.notice ul li:hover {
  list-style-type: circle;
  font-weight: bold;
}

.webPage-icons i {
  cursor: pointer;
  font-size: 40px;
}
.webPage-icons i:hover {
  color: rgb(255, 51, 204);
  transition: 0.2s;
}
.submainPage-footer {
  width: 80%;
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 24px;
  margin: 8px;
  margin-left: 200px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-color: gainsboro;
}
.footer-right,
.footer-left {
  flex-grow: 1;
}
.banner-box {
  width: 80%;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner-box > p {
  background-color: rgb(255, 218, 246);
  height: 80px;
  width: 90%;
  /* border: 2px solid black; */
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer-left {
  text-align: end;
} */
.footer-right {
  position: absolute;
  margin: 0;
  cursor: pointer;
  bottom: 8px;
  right: 24px;
  display: flex;
  gap: 4px;
}
.customer-service {
  text-decoration: none;
  color: black;
  margin: 0;
  /* margin-bottom: 24px;
  margin-right: 24px; */
}
.customer-service:hover {
  text-decoration: underline;
}
.webPage-icons i {
  cursor: pointer;
  font-size: 40px;
}
.webPage-icons i:hover {
  color: rgb(255, 51, 204);
  transition: 0.2s;
}
